* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
    background-color: rgb(33, 15, 128);
    color: white;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}



div .burger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
    display: none;
}

div .line {
    width: 26px;
    height: 2px;
    background-color: white;
    margin: 3px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #0b1356;
    background: #17227c;
    transition: all .7s ease-out;
}

div .rightnav {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 30px;

}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
    padding: 12px 13px;
    transition: all 0.4s ease-out;
}

.rightnav img {
    width: 50px;
    height: 53px;
    border: 3px solid blue;
    border-radius: 30px;
    padding: 2px;
    margin: 4px 9px;
    position: relative;


}

.rightnav p {
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50%;
    text-align: center;
}

.nav-list li {
    list-style: none;
    margin: 5px;
    padding: 0 10px;

}

.nav-list li a {
    padding: 8px;
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover {
    color: rgb(36, 192, 189);
    border-radius: 28px;
}




/* Section */



.frist_section {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background: #364ae1b0;
    margin: 20px 40px;
    padding: 15px;
    /* overflow: hidden; */
    border: 3px solid white;
}

.frist_section:hover {
    box-shadow: 5px 5px 13px 2px #6e88ec;
}


.leftsec {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
    padding: 8px;
}

.leftsec .intro {
    text-align: center;
    font-size: 2.4rem;
    font-style: italic;
    font-family: Lucida;
}

.rightsec {
    margin: 30px 40px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 35%;
    border: 2px solid wheat;
    border-radius: 70px;
}

.rightsec img {
    width: 100%;
    border-radius: 67px;
    padding: 2px;
}


hr {
    margin: 100px 40px;
    color: white;
    height: 3px;
    background: white;
}




.second_section {
    margin: 0 20px;
    border: 2px solid;
    border-radius: 14px;
    text-align: center;
    font-size: 18px;
    padding: 21px;
    background: url(../Image/background.webp);
    background-size: cover;
    background-blend-mode: darken;
}

div .box {
    border: 3px solid white;
    border-radius: 20px;
    margin: 15px 0;
    padding: 7px;
    background: #305072;
}


.heading {
    text-align: center;
    font-size: 2.3rem;
    font-style: italic;
    margin: 45px 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}


.title img {
    width: 77px;
    height: 75px;
    position: relative;
    right: 80px;
    border-radius: 26px;
    padding: 4px;
    margin: 10px 23px;

}



.title img.yt {
    width: 94px;
    height: 69px;
    border-radius: 30px;
    border: none;
    position: relative;
    right: 89px;
}

.title img.gmail {
    width: 73px;
    height: 73px;
    border-radius: 2px;
    position: relative;
    right: 83px;
}


.title img.fb {
    border-radius: 48px;
    position: relative;
    right: 85px;
}

.title img.game {
    position: relative;
    right: 90px;
}


.title p {
    font-size: 1.9rem;
    width: 440px;
    text-align: center;
    font-family: Tahoma;
}




.third_section {
    margin: 0 20px;
    margin-bottom: 20px;
    border: 2px solid;
    border-radius: 14px;
    text-align: center;
    font-size: 18px;
    padding: 21px;
    background: url(../Image/backgnd.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.site {
    border: 3px solid;
    border-radius: 18px;
    margin: 21px 8px;
    padding: 14px;
    text-align: center;
    background: #2762bd;
}

.site .story {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.see {
    font-size: 18px;
    font-style: italic;
}

button.btn {
    width: 110px;
    height: 40px;
    font-size: 18px;
    border: 2px solid;
    border-radius: 14px;
    background: #28aadd;
    color: white;
    padding: 6px;
    margin: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}


button.btn:hover {
    box-shadow: 5px 5px 13px 2px #6e88ec;
}


.fourth_section {
    margin: 0 20px;
    border: 2px solid;
    border-radius: 14px;
    text-align: center;
    font-size: 18px;
    padding: 21px;
    background: #7037b6;
    background-size: cover;
    background-blend-mode: darken;
}

.para {
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: .7cm;
    text-align: center;

}


div.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;

}